[submodule "configs/zsh/plugins/zsh-autosuggestions"]
	path = configs/zsh/external/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "configs/zsh/plugins/zsh-history-substring-search"]
	path = configs/zsh/external/zsh-history-substring-search
	url = git@github.com:zsh-users/zsh-history-substring-search.git
[submodule "configs/zsh/plugins/zsh-syntax-highlighting"]
	path = configs/zsh/external/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "configs/tmux/external/tmux-better-mouse-mode"]
	path = configs/tmux/external/tmux-better-mouse-mode
	url = https://github.com/NHDaly/tmux-better-mouse-mode
[submodule "configs/tmux/external/tmux-thumbs"]
	path = configs/tmux/external/tmux-thumbs
	url = https://github.com/fcsonline/tmux-thumbs
[submodule "configs/neovim/nvim/external/lazy.nvim"]
	path = configs/neovim/nvim/external/lazy.nvim
	url = https://github.com/folke/lazy.nvim.git
